<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ScaleEdge</title>
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>

<body>
    <div class="container-scroller">
        {{>topbar}}
        <div class="container-fluid page-body-wrapper">
            {{>sidebar}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-arrow-left" onclick="goBack()" title="Back"></i>
                                <script>
                                    function goBack() {
                                        window.history.back();
                                    }
                                </script>
                            </span> Add Attendance
                        </h3>

                    </div>
                    <div class="row">

                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add Attendance Details</h4>
                                    <form class="add-card" id="formData" action="/addAttendance" method="POST">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">User Name</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="userDropdwon"
                                                            name="userDropdwon">
                                                            <option value="">Select User</option>
                                                            {{#each users}}
                                                            <option value="{{user_name}}">{{user_name}}</option>
                                                            {{/each}}

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="date" class="form-control" id="date" name="date" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Time</label>
                                                    <div class="col-sm-9">
                                                        <input type="time" class="form-control" id="time" name="time" />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Type</label>
                                                    <div class="col-sm-9">
                                                        <select id="A_type" class="form-select" name="A_type">
                                                            <option value="">Select Type</option>
                                                            <option value="in">
                                                                Punch In
                                                            </option>
                                                            <option value="out">Punch Out
                                                            </option>

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Branch</label>
                                                    <div class="col-sm-9">
                                                        <select id="branch" class="form-select" name="branch">
                                                            <option value="" data-latitude="" data-longitude="">Select
                                                                Branch</option>
                                                            {{#each branches}}
                                                            <option value="{{this.id}}"
                                                                data-latitude="{{this.latitude}}"
                                                                data-longitude="{{this.longitude}}">{{this.branch_name}}
                                                            </option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row" hidden>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Latitude</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" id="Latitude"
                                                            name="userLat" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Longitude</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" id="Longitude"
                                                            name="userLon" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" hidden>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Mark</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="attendanceMark"
                                                            name="attendanceMark">
                                                            <option value="">Select Attendance Mark</option>
                                                            <option value="Present" selected>Present</option>
                                                            <option value="Halfday">Halfday</option>
                                                            <option value="Absent">Absent</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Status</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="rangeStatus" name="rangeStatus">
                                                            <option value="">Select Field</option>
                                                            <option value="ok" selected>Ok
                                                            </option>
                                                            <option value="onfield">
                                                                On Field</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" id="submit-btn"
                                            class="btn btn-gradient-primary me-2">Submit</button>
                                        <button class="btn btn-light" onclick="goBack()">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/todolist.js"></script>
</body>

</html>
<script>
    function goBack() {
        window.history.back();
    }

    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("formData");

        form.addEventListener("submit", function (event) {
            event.preventDefault();

            const userDropdwon = form.userDropdwon.value;
            const date = form.date.value;
            const time = form.time.value;
            const userLat = form.userLat.value;
            const userLon = form.userLon.value;
            const A_type = form.A_type.value;
            const attendanceMark = form.attendanceMark.value;
            const rangeStatus = form.rangeStatus.value;



            if (!userDropdwon || !date || !time || !userLat || !userLon || !A_type || !attendanceMark || !rangeStatus) {
                Swal.fire({
                    icon: "error",
                    title: "Validation Error",
                    text: "Please fill out all fields!",
                });
                return;
            }

            Swal.fire({
                icon: "success",
                title: "Attendance Added Successfully",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonText: "Cancel",
                confirmButtonText: "OK",
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('branch').addEventListener('change', function (event) {
            // Get the selected branch's latitude and longitude
            const selectedBranch = this.options[this.selectedIndex];
            const branchLatitude = selectedBranch.getAttribute('data-latitude');
            const branchLongitude = selectedBranch.getAttribute('data-longitude');
            console.log(branchLatitude, branchLongitude);

            // Set the latitude and longitude input fields with the retrieved values
            document.getElementById('Latitude').value = branchLatitude;
            document.getElementById('Longitude').value = branchLongitude;
        });
    });
</script>
