<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ScaleEdge</title>
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
</head>

<body>
    <div class="container-scroller">
        {{>topbar}}
        <div class="container-fluid page-body-wrapper">
            {{#if isAdmin}}
            {{> sidebar}}
            {{else}}
            {{> attendanceSidebar}}
            {{/if}}
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-arrow-left" onclick="goBack()" title="Back"></i>
                <script>
                  function goBack() {
                    window.history.back();
                  }
                </script>
                            </span> Leave Application Form
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Leave Details</h4>
                                    <form class="form-sample" action="/updateLeave/{{ leaveData.id }}" method="post">
                                        <input type="hidden" id="leave_id" name="leave_id" value="{{ leaveData.id }}">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">User</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" id="userpk"
                                                            name="userpk" value="{{ leaveData.userpk }}" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">From Date</label>
                                                    <div class="col-sm-9">
                                                        <input type="date" id="from_date" name="from_date"
                                                            value="{{ leaveData.from_date }}" readonly
                                                            class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">How Many Days</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="number" id="days" name="days"
                                                            value="{{ leaveData.days }}" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">To Date</label>
                                                    <div class="col-sm-9">
                                                        <div class="form-check">
                                                            <input class="form-control" type="date" id="to_date"
                                                                name="to_date" value="{{ leaveData.to_date }}" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Remarks</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" id="remarks" name="remarks"
                                                            rows="4" cols="50"
                                                            readonly>{{ leaveData.remarks }}</textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Status</label>
                                                    <div class="col-sm-4">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input"
                                                                    name="approval" value="y" value=""> Approve <i
                                                                    class="input-helper"></i></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input"
                                                                    name="approval" value="n"> Reject <i
                                                                    class="input-helper"></i></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Leave Type</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-select" id="leave_type" name="leave_type">
                                                            <option value="casual">Select Leave Type</option>
                                                            <option value="casual">Casual Leave</option>
                                                            <option value="sick">Sick Leave</option>
                                                            <option value="privilege">Privilege Leave</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Manager Remarks</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" id="manager_remarks"
                                                            name="manager_remarks" rows="4" cols="50"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" value="submit"
                                            class="btn btn-gradient-primary me-2" />Submit</button>
                                        <button class="btn btn-light" onclick="goBack()">Cancel</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/todolist.js"></script>
</body>

</html>

<script>

    function goBack() {
        window.history.back();
    }
    document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector(".form-sample");
        form.addEventListener("submit", function (event) {
            event.preventDefault();

            if (!validateForm()) {
                return;
            }

            Swal.fire({
                title: "Are you sure?",
                text: "You are about to update leave details.",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, update it!",
                cancelButtonText: "Cancel",
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        });

        function validateForm() {

            const from_date = document.getElementById("from_date").value;
            const to_date = document.getElementById("to_date").value;

            if (from_date === "" || to_date === "") {
                Swal.fire({
                    icon: "error",
                    title: "Validation Error",
                    text: "Please select both From Date and To Date.",
                });
                return false;
            }


            return true;
        }
    });
</script>