<!DOCTYPE html>
<html>

<head>
  <title>ScaleEdge</title>
  <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <!-- Include jQuery from CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {{!-- <style>
    /* Custom loader style */
    .custom-loader {
      border: 8px solid #f3f3f3;
      border-top: 8px solid #3498db;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      animation: spin 2s linear infinite;
      display: inline-block;
      align-items: center;
      justify-content: center;
      margin-bottom: 32px;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style> --}}

</head>

<body>
  <div class="container-scroller">
    {{>topbar}}
    <div class="container-fluid page-body-wrapper">
      {{>attendanceSidebar}}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white me-2">
                <i class="mdi mdi-arrow-left" onclick="goBack()" title="Back"></i>
                <script>
                  function goBack() {
                    window.history.back();
                  }
                </script>
              </span> Attendance
            </h3>
          </div>
          <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="form-sample" id="container">
                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <div class="form-group row">
                            <div class="col-sm-12">
                              <input type="file" id="imgInp" accept="image/*;capture=camera" capture="camera"
                                class="form-control" />
                              <div class="text-center mt-3">
                                <img src="/images/1.jpg" id="blah" class="img-fluid " alt="Preview" />
                              </div>
                              <video id="video" style="display: none;"></video>
                            </div>
                          </div>
                        </div>
                        <div id="btn" style="display: none;text-align: center;">
                          <button id="checkin-btn" class="btn btn-primary me-3">Punch in</button>
                          <button class="btn btn-danger" id="checkout-btn">Punch out</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/dashboard.js"></script>
    <script src="assets/js/todolist.js"></script>
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/face-api.js"></script>
    {{!--
    <script src="/assets/js/faceMatchNewOne.js?v={{currentTime}}"></script> --}}
    {{!--
    <script src="/assets/js/selfie.js?v={{currentTime}}"></script> --}}
    {{!--
    <script src="/assets/js/selfieFinal.js?v={{currentTime}}"></script> --}}
    <script src="/assets/js/sirSelfie.js?v={{currentTime}}"></script>

    {{!-- <script src="/assets/js/selfieDemo.js?v={{currentTime}}"></script> --}}

</body>

</html>

<style>
  #blah {
    max-width: 278px;
    max-height: 270px;
    margin-top: 38px;

  }
</style>