<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HR System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <style>
        .waviy {
            position: relative;
            -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
        }

        .waviy span {
            position: relative;
            display: inline-block;
            font-size: 40px;
            color: #000;
            text-transform: uppercase;
            animation: waviy 1s infinite;
            animation-delay: calc(.1s * var(--i));
        }

        @keyframes waviy {

            0%,
            40%,
            100% {
                transform: translateY(0);
            }

            20% {
                transform: translateY(-20px);
            }
        }

        #preloader {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 99999;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            background-color: #fff;
        }

        .pl {
            width: 6em;
            height: 6em;
        }

        .pl__ring {
            animation: ringA 2s linear infinite;
        }

        .pl__ring--a {
            stroke: #f42f25;
        }

        .pl__ring--b {
            animation-name: ringB;
            stroke: #f49725;
        }

        .pl__ring--c {
            animation-name: ringC;
            stroke: #255ff4;
        }

        .pl__ring--d {
            animation-name: ringD;
            stroke: #f42582;
        }

        /* Animations */
        @keyframes ringA {

            from,
            4% {
                stroke-dasharray: 0 660;
                stroke-width: 20;
                stroke-dashoffset: -330;
            }

            12% {
                stroke-dasharray: 60 600;
                stroke-width: 30;
                stroke-dashoffset: -335;
            }

            32% {
                stroke-dasharray: 60 600;
                stroke-width: 30;
                stroke-dashoffset: -595;
            }

            40%,
            54% {
                stroke-dasharray: 0 660;
                stroke-width: 20;
                stroke-dashoffset: -660;
            }

            62% {
                stroke-dasharray: 60 600;
                stroke-width: 30;
                stroke-dashoffset: -665;
            }

            82% {
                stroke-dasharray: 60 600;
                stroke-width: 30;
                stroke-dashoffset: -925;
            }

            90%,
            to {
                stroke-dasharray: 0 660;
                stroke-width: 20;
                stroke-dashoffset: -990;
            }
        }

        @keyframes ringB {

            from,
            12% {
                stroke-dasharray: 0 220;
                stroke-width: 20;
                stroke-dashoffset: -110;
            }

            20% {
                stroke-dasharray: 20 200;
                stroke-width: 30;
                stroke-dashoffset: -115;
            }

            40% {
                stroke-dasharray: 20 200;
                stroke-width: 30;
                stroke-dashoffset: -195;
            }

            48%,
            62% {
                stroke-dasharray: 0 220;
                stroke-width: 20;
                stroke-dashoffset: -220;
            }

            70% {
                stroke-dasharray: 20 200;
                stroke-width: 30;
                stroke-dashoffset: -225;
            }

            90% {
                stroke-dasharray: 20 200;
                stroke-width: 30;
                stroke-dashoffset: -305;
            }

            98%,
            to {
                stroke-dasharray: 0 220;
                stroke-width: 20;
                stroke-dashoffset: -330;
            }
        }

        @keyframes ringC {
            from {
                stroke-dasharray: 0 440;
                stroke-width: 20;
                stroke-dashoffset: 0;
            }

            8% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -5;
            }

            28% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -175;
            }

            36%,
            58% {
                stroke-dasharray: 0 440;
                stroke-width: 20;
                stroke-dashoffset: -220;
            }

            66% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -225;
            }

            86% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -395;
            }

            94%,
            to {
                stroke-dasharray: 0 440;
                stroke-width: 20;
                stroke-dashoffset: -440;
            }
        }

        @keyframes ringD {

            from,
            8% {
                stroke-dasharray: 0 440;
                stroke-width: 20;
                stroke-dashoffset: 0;
            }

            16% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -5;
            }

            36% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -175;
            }

            44%,
            50% {
                stroke-dasharray: 0 440;
                stroke-width: 20;
                stroke-dashoffset: -220;
            }

            58% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -225;
            }

            78% {
                stroke-dasharray: 40 400;
                stroke-width: 30;
                stroke-dashoffset: -395;
            }

            86%,
            to {
                stroke-dasharray: 0 440;
                stroke-width: 20;
                stroke-dashoffset: -440;
            }
        }
    </style>
    <style>
        .success-toast {
            background-color: lightgreen;
            color: black;
            animation:
                toastAnimation 2s ease-in-out;
        }

        .error-toast {
            background-color:
                lightcoral;
            animation: toastAnimation 2s ease-in-out;
        }

        @keyframes toastAnimation {
            0% {
                opacity: 0;
                transform: translateY(100%);
            }

            20% {
                opacity: 1;
                transform: translateY(0);
            }

            80% {
                opacity: 1;
                transform:
                    translateY(0);
            }

            100% {
                opacity: 0;
                transform: translateY(100%);
            }
        }

        .form-control {
            min-height: auto;
            padding: .32rem .75rem;
            border: 1;
            background: transparent;
            transition: all .2s linear
        }
    </style>
</head>

<body>
    <div id="preloader" style="display: none;">
        <div class="waviy">
            <span style="--i:1">L</span>
            <span style="--i:2">o</span>
            <span style="--i:3">a</span>
            <span style="--i:4">d</span>
            <span style="--i:5">i</span>
            <span style="--i:6">n</span>
            <span style="--i:7">g</span>
            <span style="--i:8">.</span>
            <span style="--i:9">.</span>
            <span style="--i:10">.</span>
        </div>
    </div>
    <section class="background-radial-gradient overflow-hidden">
        <style>
            #radius-shape-1 {
                height: 220px;
                width: 220px;
                top: -60px;
                left: -130px;
                background:
                    radial-gradient(#44006b, #ad1fff);
                overflow: hidden;
            }

            #radius-shape-2 {
                border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
                bottom: -60px;
                right:
                    -110px;
                width: 300px;
                height: 300px;
                background:
                    radial-gradient(#44006b, #ad1fff);
                overflow: hidden;
            }

            .bg-glass {
                background-color: hsla(0, 0%, 100%, 0.9) !important;
                backdrop-filter:
                    saturate(200%) blur(25px);
            }

            @media (max-width: 767px) {
                .background-radial-gradient {
                    overflow-x: hidden;
                    overflow-y: auto;
                }

                .reverse-order {
                    flex-direction: column-reverse;
                }
            }

            #imagePreview {
                width: 40px;
                max-height: 34px;
                margin-top: 21px;
                border-radius: 3px;
                margin-left: -20px;
                transition: transform .3s ease;
            }

            #imagePreview:hover {
                transform: scale(6.0);
            }
        </style>

        <div class="container  text-center text-lg-start my-5">
            <div class="row gx-lg-5 align-items-center mb-5 reverse-order"
                style="/* margin: inherit; *//* margin-top: 52px; */">
                <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
                    <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 35%)">
                        ScaleEdge Solution <br>
                        <span style="color: hsl(218, 81%, 75%)">IT Services Provider</span>
                    </h1>
                    <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 25%)">
                        We specialize in IT services and offer a state-of-the-art Face Attendance System for businesses.
                        Our solution ensures accurate and efficient attendance tracking using facial recognition
                        technology.
                        Contact us to learn more about how we can help your business streamline attendance management.
                    </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                    <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                    <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

                    <div class="card bg-glass">
                        <div style="display: flex; justify-content: center; align-items: center;">
                            <img src="/images/logo.png" class="mx-5 mb-3" alt="" style="height: 30vh; width: 35vh;">
                        </div>
                        <div class="card-body  px-4 py-0 px-md-5">
                            <form method="post" action="/uploadDetails" class="sign-in-form" id="companyForm"
                                enctype="multipart/form-data">
                                <input class="" type="email" name="email" value="{{email}}" hidden>
                                <input type="text" name="user_name" value="{{user_name}}" hidden>
                                <input class="" type="email" name="user_id" value="{{user_id}}" hidden>
                                <input class="" type="text" name="user_group" value="{{user_group}}" hidden>
                                <input class="" type="text" name="mobile" value="{{mobile}}" hidden>
                                <input class="" type="text" name="password" value="{{password}}" hidden>
                                <input class="" type="text" name="annual_salary" value="{{annual_salary}}" hidden>
                                <input class="" type="text" name="personal_email" value="{{personal_email}}" hidden>
                                <input type="date" name="joining_date" id="joining_date" value="{{joining_date}}"
                                    hidden>
                                <input class="" type="text" name="latitude" value="{{latitude}}" hidden>
                                <input class="" type="text" name="longitude" value="{{longitude}}" hidden>
                                <input class="" type="text" name="street_address" value="{{street_address}}" hidden>
                                <input class="" type="text" name="house" value="{{house}}" hidden>
                                <input class="" type="text" name="city" value="{{city}}" hidden>
                                <input class="" type="text" name="state" value="{{state}}" hidden>
                                <input class="" type="text" name="pincode" value="{{pincode}}" hidden>
                                <input class="" type="text" name="landmark" value="{{landmark}}" hidden>
                                <input class="" type="text" name="employee_id" value="{{employee_id}}" hidden>

                                <div class="row">
                                    <div class="col-md-5 col-11 " style="margin-top: -20px;color: #dc4c64!important;">

                                        <label class="col-sm-12 col-form-label d-flex">Please Upload a selfie *
                                            {{!-- <img id="imagePreview" src="#" alt="Image Preview"
                                                style="display: none;width: 79px;max-height: 65px;margin-top: -37px;border-radius: 8px;margin-left: 5px;">
                                            --}}
                                        </label>

                                        <div class="form-outline mb-4">
                                            <input type="file" id="Imagepath" name="Imagepath"
                                                class="form-control placeholder-active" onchange="previewImage(this)"
                                                accept="image/*" capture="user" required="">

                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 0px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-md-1 col-1">
                                        <div class="form-outline mb-4">
                                            <img id="imagePreview" src="#" alt="Image Preview"
                                                onerror="this.src='/images/noimage.png'">
                                        </div>
                                    </div>
                                    <div class="col-md-6 " style="margin-top: -20px;">
                                        <label class="col-sm-12 col-form-label d-flex" style="margin-left: 0px;">Please
                                            Enter Birth Date*</label>
                                        <div class="form-outline mb-4">
                                            <input type="date" id="birth_date" name="birth_date" class="form-control"
                                                required="" style="opacity: 0;">
                                            <label class="form-label" for="form3Example2"
                                                style="margin-left: 0px;">Birth Date *
                                            </label>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 72.8px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{!-- <div class="col-md-6">
                                    <img id="imagePreview" src="#" alt="Image Preview"
                                        style="display: none; width: 103px; max-height: 120px; margin-bottom:20px;">
                                </div> --}}
                                <div class="row">
                                    <div class="col-md-6 " style="margin-top: -20px;color: #dc4c64!important;">
                                        <label class="col-sm-12 col-form-label d-flex">Please Upload Adhar Card
                                            *</label>

                                        <div class="form-outline mb-4">
                                            <input type="file" id="adhar" name="adhar"
                                                class="form-control placeholder-active" onchange="downloadFile(this)"
                                                required="">
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 0px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 " style="margin-top: -20px;color: #dc4c64!important;">
                                        <div class="form-outline mb-3">
                                            <label class="col-sm-12 col-form-label d-flex"
                                                style="margin-left: 0px;">Please
                                                Upload Pan Card *</label>

                                            <div class="form-outline mb-4">
                                                <input type="file" id="pan" name="pan"
                                                    class="form-control placeholder-active"
                                                    onchange="downloadFile(this)" required="">
                                                <div class="form-notch">
                                                    <div class="form-notch-leading" style="width: 9px;"></div>
                                                    <div class="form-notch-middle" style="width: 0px;"></div>
                                                    <div class="form-notch-trailing"></div>
                                                </div>
                                            </div>
                                            <div class="form-notch">
                                                <div class="form-notch-leading" style="width: 9px;"></div>
                                                <div class="form-notch-middle" style="width: 195.2px;"></div>
                                                <div class="form-notch-trailing"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <span id="fileName1" style="display: none;"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <span id="fileName2" style="display: none;"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <a href="#" id="showPolicies" style="text-decoration: underline;">Read Terms
                                            &amp; Condition</a>
                                        <p id="policyLine1" style="display: none; text-align:justify">Lorem ipsum dolor
                                            sit amet consectetur
                                            adipisicing elit. Officiis non, nihil explicabo assumenda nesciunt illo,
                                            dolor eaque suscipit
                                            perferendis ex alias! Ab deleniti voluptatibus eos maxime laboriosam sequi
                                            aliquid quis?</p>
                                        <p id="policyLine2" style="display: none; text-align:justify">Lorem, ipsum dolor
                                            sit amet
                                            consectetur adipisicing elit. Explicabo alias cumque quod accusantium nam,
                                            saepe maxime fugit
                                            eligendi consectetur id hic, voluptate placeat quas voluptatibus amet
                                            consequuntur. Aliquid, velit
                                            aperiam?</p>
                                    </div>


                                </div>
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" id="agreeTerms" required="">
                                    <label class="form-check-label" for="agreeTerms">I agree to the <span
                                            style="color: brown;">Terms and
                                            Conditions</span></label>
                                </div>

                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" id="receiveUpdates" required="">
                                    <label class="form-check-label" for="receiveUpdates">I want to <span
                                            style="color: brown;">receive
                                            updates and promotions</span></label>
                                </div>


                                <button type="submit" class="btn btn-primary btn-block mb-4" fdprocessedid="nv1ko">
                                    Sign up
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Make sure to include jQuery and Toastr.js libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    
    <script>
        $(document).ready(function () {
            $('#companyForm').submit(function (e) {
                e.preventDefault(); // Prevent the default form submission

                // Show preloader
                $('#preloader').show();

                // Serialize form data
                var formData = new FormData($(this)[0]);

                $.ajax({
                    url: '/uploadDetails',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        // Hide preloader regardless of success or error
                        $('#preloader').hide();

                        if (response.success) {
                            // Show success toast message
                            toastr.success(response.message, 'Success', { "progressBar": true, "positionClass": "toast-top-right", "showDuration": "300", "hideDuration": "1000", "timeOut": "5000", "extendedTimeOut": "1000", "addClass": "success-toast" });
                            localStorage.clear();
                            // Redirect after 2500 milliseconds (2.5 seconds)
                            setTimeout(function () {
                                window.location.href = '/'; // Redirect to the desired URL
                            }, 2500);
                        } else {
                            // Show error toast message
                            toastr.error('Error: ' + response.error, 'Error', { "progressBar": true, "positionClass": "toast-top-right", "showDuration": "300", "hideDuration": "1000", "timeOut": "5000", "extendedTimeOut": "1000", "addClass": "error-toast" });
                        }
                    },
                    error: function (xhr, status, error) {
                        // Hide preloader
                        $('#preloader').hide();
                        console.error('An error occurred:', error);
                        // Show error toast message
                        toastr.error('An error occurred. Please try again later.', 'Error', { "progressBar": true, "positionClass": "toast-top-right", "showDuration": "300", "hideDuration": "1000", "timeOut": "5000", "extendedTimeOut": "1000", "addClass": "error-toast" });
                    }
                });
            });
        });
    </script>


    <script>
        function previewImage(input) {
            var imagePreview = document.getElementById("imagePreview");
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = new Image();
                    img.src = e.target.result;
                    img.onload = function () {
                        var canvas = document.createElement('canvas');
                        var ctx = canvas.getContext('2d');
                        var maxSize = 300 * 1024; // 300 KB in bytes
                        var width = img.width;
                        var height = img.height;
                        var quality = 0.7; // Initial quality
                        var imageDataSize = width * height * 4; // 4 bytes per pixel (RGBA)
                        while (imageDataSize > maxSize) {
                            width *= 0.9; // Decrease width
                            height *= 0.9; // Decrease height
                            canvas.width = width;
                            canvas.height = height;
                            ctx.drawImage(img, 0, 0, width, height);
                            imageDataSize = width * height * 4;
                        }
                        var compressedDataUrl = canvas.toDataURL('image/jpeg', quality);
                        imagePreview.src = compressedDataUrl;
                        imagePreview.style.display = "block";
                        console.log("Compressed image size:", compressedDataUrl.length);
                    };
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                imagePreview.style.display = "none";
                imagePreview.src = "#";
            }
        }

        function previewImage1(input) {
            var imagePreview =
                document.getElementById("imagePreview1"); if (input.files && input.files[0]) {
                    var reader = new FileReader(); reader.onload = function (e) {
                        imagePreview.src
                            = e.target.result; imagePreview.style.display = "block";
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                imagePreview.style.display =
                    "none"; imagePreview.src = "#";
            }
        }

        function previewImage2(input) {
            var imagePreview =
                document.getElementById("imagePreview2"); if (input.files && input.files[0]) {
                    var reader = new FileReader(); reader.onload = function (e) {
                        imagePreview.src
                            = e.target.result; imagePreview.style.display = "block";
                    };
                    reader.readAsDataURL(input.files[0]);
                } else {
                imagePreview.style.display =
                    "none"; imagePreview.src = "#";
            }
        }


    </script>

    <style>
        .wrong .fa-check {
            display: none;
        }

        .good .fa-times {
            display: none;
        }

        .valid-feedback,
        .invalid-feedback {
            margin-left: calc(2em + 0.25rem + 1.5rem);
        }
    </style>
    <script>
        function downloadFile(input) {
            var fileNameSpan;
            if (input.id === "adhar") {
                fileNameSpan = document.getElementById("fileName1");
            } else if (input.id === "pan") {
                fileNameSpan = document.getElementById("fileName2");
            }

            if (input.files && input.files[0]) {
                var fileName = input.files[0].name;
                fileNameSpan.innerText = fileName;
                fileNameSpan.style.display = "block";

                // Create a download link with an onclick event to trigger the download
                fileNameSpan.innerHTML = `<a href="#" onclick="triggerDownload('${fileName}', '${input.id}')">${fileName}</a>`;
            } else {
                fileNameSpan.style.display = "none";
                fileNameSpan.innerHTML = "";
            }
        }

        function triggerDownload(fileName, inputId) {
            // Get the file input element based on its ID
            var fileInput = document.getElementById(inputId);

            // Create a Blob object representing the data in the file
            var fileBlob = new Blob([fileInput.files[0]], { type: fileInput.files[0].type });

            // Create a temporary link element
            var downloadLink = document.createElement("a");

            // Set the download link's href to a URL representing the Blob
            downloadLink.href = URL.createObjectURL(fileBlob);

            // Set the download attribute to the file name
            downloadLink.download = fileName;

            // Append the download link to the document body
            document.body.appendChild(downloadLink);

            // Simulate a click on the download link
            downloadLink.click();

            // Remove the download link from the document
            document.body.removeChild(downloadLink);
        }
    </script>

    <script>
        if (window.innerWidth <= 768) {
            document.getElementById("Imagepath").setAttribute("capture", "user");
        }
    </script>